/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */

.container {
    
    width: 95%;
    margin: auto;
}

/* header */

header {

    background-image: url('../img/pattern.png');
    background-color: #4ea0ff;
    height: 175px;

}

img {

    width: 250px;
    margin-top: 100px;
    
}