/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* container */

.container {
    
    width: 95%;
    margin: auto;
}

/* section */

section {

    margin-top: 50px;
}

/* header */

header {

    background-image: url('../img/pattern.png');
    background-color: #4ea0ff;
    height: 175px;
}

#logo {

    width: 250px;
    margin-top: 100px;
}

/* main */

/* titolo */

h1 {
    
    font-weight: 900;
    font-size:350%;
}

.info {

color: gray;
font-weight:600;
font-size: large;
}

.booleaner {

    color: #3db3e7;
}

.date {

    font-size: smaller;
}

/* images */

.images {

    height: 510px;
    width: auto;
}

.images-description {

    font-size: smaller;
}

/* contents */

.contents {

    font-weight: 600;
}

/* table */

table {

    width: 100%;
}

thead {

    background-color: #20a9e5;
    color: white;
}

.last-column {

    width: 50%;
}

.odd {

    background-color: #b1e5f2;
}

/* contents2 */

.highlighted {
    
    background-color: yellow;
}


