/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */

.container {
    
    width: 95%;
    margin: auto;
}

/* header */

header {

    background-image: url('../img/pattern.png');
    background-color: #4ea0ff;
    height: 175px;

}

#logo {

    width: 250px;
    margin-top: 100px;
    
}

/* main */

/* titolo */

h1 {
    
    font-weight: 900;
    font-size:350%;

}

.info {

color: gray;
font-weight:600;
font-size: large;

}

.highlighted {

    color: #3db3e7;
}

.date {

    font-size: smaller;
}

/* images */

.images {

    height: 510px;
    width: auto;
    margin-top: 50px;
}

.images-description {

    font-size: smaller;

}

